@model Entities.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Başlık Ekleme</h1>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x=>x.CategoryId, (List<SelectListItem>)ViewBag.valueCategory, new
       { @class="form-control"})

        <br />
        @Html.Label("Yazar")
        @Html.DropDownListFor(w => w.WriterId, (List<SelectListItem>)ViewBag.valueWriter, new
    { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.WriterId)

        <button class="btn btn-info">Başlığı oluştur</button>
    </div>
}

